<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header"> 
                    <div class="row">
                        <div class="col-1 m-0 p-0">
                            <img [src]="photo.imageUrl">
                        </div>
                        <div class="col-3 m-0 p-0 mt-2" *ngIf="userservice.valid" id="notvalid">
                            Data is not valid
                        </div>
                        <div class="col-3 m-0 p-0 mt-2" *ngIf="userservice.updated" id="updated">
                            Data is updated
                        </div>
                    </div>
                </div>
                <div class="card-body col-sm">
                    <form name="my-form" action="/User/Profile" method="post">
                        <div class="form-group row">
                            <label for="Email Adress" class="col-md-4 col-form-label text-md-right">Email :</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control elem" name="Email" [(ngModel)]="currentUser.email" readonly required="" autofocus="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Email Adress" class="col-md-4 col-form-label text-md-right">Name :</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control elem" name="Name" [(ngModel)]="currentUser.nickName" required="" autofocus="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="LastName" class="col-md-4 col-form-label text-md-right">Age :</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control elem" name="Age" [(ngModel)]="currentUser.age"  required="" autofocus="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Phone" class="col-md-4 col-form-label text-md-right">Phone :</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control elem" name="Phone"  [(ngModel)]="currentUser.phone"  (keyup)="validate($event)"  autofocus="" />
                            </div>
                        </div>  
                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-cyan btn-sm" (click)="UpdateUser()">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>