<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header"> 
                        <img [src]="photo.imageUrl">
                </div>
                <div class="card-body col-sm">
                    <form name="my-form" action="/User/Profile" method="post">
                        <div class="form-group row">
                            <label for="Email Adress" class="col-md-4 col-form-label text-md-right">Email :</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control elem" name="Email" [(ngModel)]="chat.currentUser.email" readonly required="" autofocus="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Email Adress" class="col-md-4 col-form-label text-md-right">Name :</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control elem" name="Name" [(ngModel)]="chat.currentUser.nickName" required="" autofocus="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="LastName" class="col-md-4 col-form-label text-md-right">Age :</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control elem" name="Age" [(ngModel)]="chat.currentUser.age"  required="" autofocus="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Phone" class="col-md-4 col-form-label text-md-right">Phone :</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control elem" name="Phone"  [(ngModel)]="chat.currentUser.phone"   autofocus="" />
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-cyan btn-sm" (click)="chat.UpdateUser()">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>