.row{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #6F89C8;
}

.row:hover{
    background-color: white;
}

img{
    width: 40px;
    height: 40px;
    padding-top: 3px;
    border-radius: 10px;
}

.chatname{
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    display: inline-block;
    white-space: nowrap;
}

.contentparagraph{
    width:100px;
    overflow: hidden;
}

.CurrentChat{
    background-color: white;
}

#listofchats{
    max-height: 80vh;
}

#listofchats::-webkit-scrollbar{
    width:1px;
}