
  <a>
    <img src="../../assets/plus.png" width="23" height="23" class="d-inline-block align-top mr-1" alt="" data-toggle="modal" data-target="#exampleModalCenter">
  </a>
  
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">New Group</h5>

        </div>
        <div class="modal-body">
            <form class="text-center border border-light p-5" action="#!">            

                <input type="text" id="" class="form-control mb-4" placeholder="Name">

                <select ng-options="s for s in values"></select>
 
                <button class="btn btn-info my-4 btn-block" type="submit">Create</button>          
           </form>
        </div>
      </div>
    </div>
  </div>
