#appnav{
    background: rgb(91,84,191);
    background: linear-gradient(90deg, rgba(91,84,191,1) 0%, rgba(48,48,176,1) 50%, rgba(0,212,255,1) 100%);
}
#title{
    color:white;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    border-radius: 8px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }

  .dropitem:hover{
      background-color:#469475;
      color:white;
      box-shadow: 0px 8px 16px 0px rgba(7, 75, 201, 0.2);
  }

  .dropitem{
      border-radius: 6px;
      text-align: left;
      margin-top:3px;
      margin-left:5px;
      margin-bottom: 2px;
      width:90%;
  }

  label{
    cursor: pointer;
    width:100%;
    padding:6px;
    padding-left: 10px;
  }
  
  label:hover{
    text-decoration:none;
  }
  
  #file_input_id{
    display:none;
  }

  #userphoto{
    width:40px;
    height: 40px;
    border-radius: 10px;
  }